* {
    margin: 0 auto; padding: 0;
}

#header, #botter {
    background-color: darkblue;
    height: 150px;
    color: azure;

}

#content {
    padding-left: 20px;
    background-color: azure;
    /*min-height: 600px;*/
    height: 500px;
    vertical-align: top;
}

#lf {
    border: 1px solid gray;
    background-color: dodgerblue;
    width: 220px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#menu-left {
    border-width: 2px;
    width: 100%;
    margin: 10px 5px 10px 10px;
    padding: 5px;
    color: darkblue;
    text-align: center;
}

#menu-left a {
    text-decoration: none;
}

#menu-left a:hover {
    text-decoration: underline;
    color: MenuText;
}